[Unit]
Description=NTPi-Screen
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/path/to/venv/bin/ntpi-screen

[Install]
WantedBy=multi-user.target
